<!DOCTYPE html>
<html>
<head>
    <title>Service Mate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css/bootstrap.css")
     @Styles.Render("~/Content/css/main.css")
      @Styles.Render("~/Content/css/daterange.css")
       @Styles.Render("~/Content/fonts/font-awesome.css")
      @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <!-- Top bar start -->
        <div class="top-bar">

            <div class="logo">
                SM<sup><i class="icon-cloud"></i></sup>
            </div>

            <!-- Icon nav start -->
            <ul id="icon-nav">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i>
                        <span class="count-label"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-comment-alt"></i>
                        <span class="count-label count-lb-yellow"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-envelope-alt"></i>
                        <span class="count-label count-lb-green"></span>
                    </a>
                </li>
            </ul>
            <!-- Icon nav end -->

            <!-- Search bar start -->
            <div class="custom-search hidden-xs">
                <input type="text" class="search-query" placeholder="Search here">
                <i class="icon-search"></i>
            </div>
            <!-- Search bar end -->

        </div>
        <!-- Top bar end -->

        <!-- Header start -->
        <header class="navbar" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">&nbsp;</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html">Get Job Done !</a>
                    </li>
                    <li>
                        <a href="graphs.html">Register As a Business Owner !</a>
                    </li>
                    <li>
                        <a href="#">How Service Mate Works ?</a>
                    </li>
                </ul>

                <!-- Mini navigation start -->
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                   
                </ul>
                <!-- Mini navigation end -->
            </nav>
        </header>
        <!-- Header end -->

        <!-- Page title Start -->
        <div class="page-title">

            <div class="row ">

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2>Dashboard</h2>
                    <ul class="breadcrumb">
                        <li>Home</li>
                        <li>Dashboard</li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">

                    <!-- Mini Nav Right Start -->
                    <ul id="page-settings">

                        <li id="reportrange">
                            <i class="icon-calendar"></i>
                            <span></span><b class="caret"></b>
                        </li>

                        <li>
                            <i class="icon-cog"></i>
                        </li>
                    </ul>
                    <!-- Mini Nav Right End -->

                    <!-- Stats Start -->
                    <ul class="stats hidden-sm hidden-xs">
                        <li>
                            <span id="orders" class="graph"></span>
                            <div class="details">
                                <span class="big">2,591</span>
                                <span class="small">Orders</span>
                            </div>
                        </li>
                        <li>
                            <span id="currentBalance" class="graph"></span>
                            <div class="details">
                                <span class="big">$7,345</span>
                                <span class="small">Balance</span>
                            </div>
                        </li>
                    </ul>
                    <!-- Stats End -->

                </div>
            </div>
        </div>
        <!-- Page title end -->

        <!-- Row start -->
        <div class="row">

            <div class="col-md-12 col-sm-6 col-sx-6">
                <div class="panel panel-default">
                    @RenderBody()
                </div>
            </div>

        </div>
        <!-- Row end -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
     @Scripts.Render("~/Content/js/flot/custom/combine-chart.js")
     @Scripts.Render("~/Content/js/tiny-scrollbar.js")
     @Scripts.Render("~/Content/js/daterange/moment.js")
     @Scripts.Render("~/Content/js/daterange/daterangepicker.js")
     @Scripts.Render("~/Content/js/custom.js")
     @Scripts.Render("~/Content/js/custom-index.js")
    
     @RenderSection("scripts", required: false)
</body>
</html>
