<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <title>Service Mate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css/bootstrap.css")

    @Styles.Render("~/Content/css/main.css")
    @Styles.Render("~/Content/css/login.css")

    @Styles.Render("~/Content/fonts/font-awesome.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/App/Authentication/authenticationModule.js")
    @Scripts.Render("~/App/Authentication/authenticationCtrl.js")
    @Scripts.Render("~/App/Authentication/authenticationSvc.js")

    <!--[if IE 7]>
      <link rel="stylesheet" href="fonts/font-awesome.css">
    <![endif]-->

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="login-container">
        <div id="logo">
            <sup><i class="icon-cloud"></i></sup>
        </div>
        <div id="login" ng-app="authenticationModule">
            <h3>Welcome to <span>Service Mate</span>.</h3>
            <h5>Please sign in to get access.</h5>
            <form id="login-form" action="/Account/Login" method="post" class="form">
                <div class="form-group">
                    <label for="UserName">Username</label>
                    <input type="text" class="form-control" id="UserName" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <div class="form-group">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="RememberMe">
                            Remember me
                        </label>

                    </div>
        </div>
        <div class="form-group">
            <button type="submit" id="login-btn" class="btn btn-success btn-block">Signin</button>
        </div>
        </form>
        <a href="index.html" class="btn btn-default">Forgot Password?</a>
    </div>
    </div>
</body>
</html>
