@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<ServiceMate.Models.UserModel> 
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           
        </div>
    </section>
}
<h3>Users</h3>
<ol class="round">
    <table>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.EmailId</td>
                <td>@user.UserType</td>
            </tr>
        }
    </table>
   </ol>
